.search-component {
  padding: 25px;
}

.search-result li:hover {
  background-color: #607D8B;
}

#search-box {
  width: calc(100% - 35px);
  height: 50px;
  padding: 0 15px;
  font-size: 17px;
  font-style: italic;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.07);
}

#search-box:focus {
  outline: none;
}

ul.search-result {
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: calc(100% - 1px);
}

.search-result li {
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  height: 25px;
  padding: 20px 20px 10px 20px;
  background-color: rgba(0, 0, 0, 0.07);
  cursor: pointer;
  list-style-type: none;
}

.search-result li:hover {
  background-color: #cccccc;
}

.search-result li a {
  color: #444444;
  display: block;
  cursor: pointer;
  text-decoration: none;
}

